<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="group2.schoolproject.a02soccer">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.App.Base">
        <activity
            android:name=".MainActivity"
            android:label="Moskito&apos;s Soccer App"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login" />
        <!--<activity
            android:name=".EditPlayerOwnActivity"
            android:label="@string/title_activity_edit_player_own" />-->
        <activity
            android:name=".EditPlayerActivity"
            android:label="@string/title_activity_edit_player_admin" />
        <activity
            android:name=".AddPlayerActivity"
            android:label="@string/title_activity_add_player" />
        <activity
            android:name=".TeamDivisionActivity"
            android:label="@string/title_activity_team_management" />
        <!-- android:theme="@style/AppTheme.NoActionBar"></activity> -->
        <activity
            android:name=".AddGameSelectPlayersActivity"
            android:label="@string/title_activity_add_game_select_players"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AddGameEnterDataActivity"
            android:label="@string/title_activity_add_game_enter_data"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".ShowPlayerStatsActivity"
            android:label="@string/title_activity_player_stats"/>
        <activity
            android:name=".ShowGameActivity"
            android:label="@string/title_activity_display_game"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".EditGameActivity"
            android:label="@string/title_activity_edit_game"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="group2.schoolproject.a02soccer.MainActivity" />
        </activity>
        <activity
            android:name=".ScoreboardActivity"
            android:label="@string/title_activity_score_board" />
    </application>
</manifest>